*{margin:0px; padding:0px;}
.header{background:url(./img/line.png) repeat-x; height: 83px; position: fixed; top:0px; left:0px; right:0px;}
.header .logo{display: block; width:145px; height: 56px; margin-left:37px; float:left; margin-top:13px;}
.rightIcon{text-align: right; padding-top:37px; padding-right:40px; overflow: hidden;}
.rightIcon img{display: inline-block; float:right;}
.rightIcon .nav{margin-left:43px; margin-top:5px;}


.content{position: fixed; top:0px; margin-top:83px; bottom:40px; left:0px; right:0px; overflow: hidden;}
.content .leftBox{width:75%; height: 100%; float:left;} 
.content .rightBox{width:25%; height: 100%; float:right; position: relative; background:url(./img/rightImg.jpg) no-repeat; background-size: cover}

/*左侧上下*/
.content .leftBox .topBox{width:100%; height: 67%; background: #000;}
.content .leftBox .bottomBox{width:100%; height: 33%;}

/*左侧上面*/
.topBox .topLeftBox{ background: url(./img/topLeftImg.png) no-repeat; position:relative; background-size: cover; width:70%; height: 100%; overflow: hidden; float:left;}
/*左侧上面右侧两个小图*/
.topBox .topRightBox{width:30%; height: 100%; background:#fff; float:right;}

.topBox .topRightBox .topRightTop{width:100%; height:50%; position: relative; background:url(./img/topRightTop.png) no-repeat; background-size:cover;}
.topBox .topRightBox .topRightbottom{width:100%; height:50%; position: relative; background:url(./img/topRightBottom.png) no-repeat; background-size:cover;}

/*左侧下面三个小图*/
.bottomBox .item{display: inline-block;}
.bottomBox .item1{width:33%; height: 100%; position: relative; overflow: hidden; background: url(./img/item1.png) no-repeat; background-size:cover;}
.bottomBox .item2{width:33%; height: 100%; position: relative; overflow: hidden; background: url(./img/item2.png) no-repeat; background-size:cover;}
.bottomBox .item3{width:33%; height: 100%; position: relative; overflow: hidden; background: url(./img/item3.png) no-repeat; background-size:cover;}


/*阴影部分*/
.positionBox{position: absolute; left:0px; top:0px; right:0px; bottom:0px; background: #000; opacity: 0.8; filter: alpha(opacity:80);}
.remark{text-align: center; width:190px; height: 206px; color: #fff; font-size:45px; text-align: center; position: absolute; top:50%; left:50%; margin:-103px 0 0 -95px;}
.remark img{display: block; margin:0 auto 25px;}









.footer{width:100%; font-size:14px; color:#4f4f4f; height: 40px; line-height: 40px; background:#171717; text-align: center; position:absolute; bottom:0px; left:0px; right:0px;}